 
<!-- Single News -->
<section style="padding-bottom:50px">
	<div class="container">
	 


		<!--  -->
		<!-- <div id="CounterVisitor">
			<span class="counter-item">0</span>			 
  		</div> -->
		  <!-- <div>
			<p>This page was viewed</p>
			<h1 id="count">0</h1>
			<p>times</p>
		  </div> -->


		<!--  -->

		<div class="chuyenmuc-tin1" style="margin-left:-7px; margin-right: -7px ; 	text-align:center  ; padding-top: 30px;" >
			<img src="/uploads/image/toanhacongty.png" alt="tòa nhà công ty"> <br>
		</div>
		<div   style="padding:30px 30px ; text-align:justify "   >			
			<h4 style="text-align:center; color: #1f1fe6; font-family: arial; font-weight: bold;" >GIỚI THIỆU TỒNG QUAN</h4> <br><br>
			<h5 style="line-height: 28px;">
				&nbsp&nbsp&nbsp&nbsp&nbsp Công ty 
				<a href="/dien-luc-truc-thuoc" style="text-align:center; color: #1f1fe6">Điện lực</a>
				 Đắk Lắk là doanh nghiệp nhà nước hạch toán phụ thuộc Tổng Công ty Điện lực Miền Trung – Tập Đoàn Điện lực Việt Nam, hoạt động theo Luật Doanh nghiệp, có tư cách pháp nhân, có con dấu, biểu tượng, điều lệ tổ chức và hoạt động. 				  				
			</h5>
			<br>
			<h5> &nbsp&nbsp&nbsp&nbsp - Tên tiếng Việt: Công ty Điện lực Đắk Lắk</h5>
			<h5> &nbsp&nbsp&nbsp&nbsp - Tên tiếng Anh: Daklak Power Company</h5>
			<h5> &nbsp&nbsp&nbsp&nbsp - Tên viết tắt: PCDAKLAK</h5>
			<h5> &nbsp&nbsp&nbsp&nbsp - Địa chỉ: 02 Lê Duẩn, TP Buôn Ma Thuột, tỉnh Đắk Lắk</h5>
			<h5> &nbsp&nbsp&nbsp&nbsp - Điện thoại: (0262) 2210 235 · Fax: (0262) 222 6801</h5> 
 
		</div>

		<div   style="padding:30px 30px ; text-align:justify ;" >			
			<h4 style="text-align:center; color: #1f1fe6; font-family: arial; font-weight: bold;" >QUÁ TRÌNH HÌNH THÀNH VÀ PHÁT TRIỂN</h4> <br><br>
			<h5  style="line-height: 28px;">
				&nbsp&nbsp&nbsp&nbsp&nbsp Tiền thân của Công ty Điện lực Đắk Lắk là Sở Quản lý và Phân phối điện tỉnh Đắk Lắk trực thuộc Công ty Điện lực miền Trung được Bộ Điện và Than thành lập vào ngày 28/12/1976. Sau ngày Miền nam hoàn toàn giải phóng, tiếp quản cơ sở điện lực của chính quyền cũ để lại, các cán bộ của Uỷ ban Quân quản tỉnh Đắk Lắk đã vận động lực lượng thợ đường dây, thợ vận hành máy tiếp tục trở lại làm công việc cũ. Đây là giai đoạn tập trung củng cố, bảo dưỡng 5 tổ máy diesel, 4 tổ máy thuỷ điện với công suất khoảng vài ngàn kW; 30km đường dây 15kV với gần 60 trạm biến áp phụ tải, với khoảng 40 cán bộ, công nhân viên. Từ đó đến nay, Công ty Điện lực Đắk Lắk đã có những bước phát triển rất lớn về nguồn - lưới điện, số lượng khách hàng và cơ cấu tổ chức; nhiều lần chuyển đổi tên gọi. 				  				
			</h5>
			<br>
			<h5  style="line-height: 28px;">
				&nbsp&nbsp&nbsp&nbsp&nbsp
				- Ngày 30/06/1993 Bộ Năng lượng ban hành quyết định số 557/NL-TCCB LĐ thành lập lại và đổi tên Sở Điện lực Đắk Lắk thuộc Công ty Điện lực 3.
			</h5>
			<br>

			<h5  style="line-height: 28px;">
				&nbsp&nbsp&nbsp&nbsp&nbsp
				- Ngày 08/3/1996 Tổng công ty Điện lực Việt Nam ban hành quyết định số 264/ĐVN-TCCB đổi tên Sở Điện lực Đắk Lắk thành Điện lực Đắk Lắk trực thuộc Công ty Điện lực 3.
			</h5>
			<br>
			
			<h5  style="line-height: 28px;">
				&nbsp&nbsp&nbsp&nbsp&nbsp
				- Ngày 20/02/2004 Hội đồng quản trị Tổng công ty Điện lực Việt Nam ban hành quyết định số 49/QĐ-EVN-HĐQT về việc thành lập lại Điện lực Đắk Lắk trên cơ sở chia tách ra từ Điện lực Đắk Lắk cũ thành Điện lực Đắk Nông và Điện lực Đắk Lắk mới.
			</h5>
			<br>
			<h5  style="line-height: 28px;">
				&nbsp&nbsp&nbsp&nbsp&nbsp
				- Năm 2010, thực hiện chủ trương chuyển đổi các Doanh nghiệp Nhà nước sang hoạt động theo Luật Doanh nghiệp nhằm nâng cao năng lực quản lý, hiệu quả trong hoạt động sản xuất kinh doanh, phát huy những điểm thuận lợi và khắc phục những khó khăn của mô hình hiện tại; ngày 14/4/2010, Tổng Giám đốc Tập đoàn Điện lực Việt Nam đã ban hành Quyết định số 230/QĐ-EVN về việc đổi tên các điện lực trực thuộc Tổng Công ty Điện lực miền Trung. Theo đó, Điện lực Đắk Lắk được đổi tên là Công ty Điện lực Đắk Lắk trực thuộc Tổng Công ty Điện lực miền Trung, hoạt động theo Luật Doanh nghiệp; có trách nhiệm kế thừa các quyền và nghĩa vụ pháp lý của Điện lực Đắk Lắk và của Công ty Điện lực 3.
			</h5>
			<br>
 
 
		</div>


		<div   style="padding:30px 30px ; text-align:justify ;" >			
			<h4 style="text-align:center; color: #1f1fe6; font-family: arial; font-weight: bold;" >
				CHỨC NĂNG NHIỆM VỤ VÀ NGÀNH NGHỀ KINH DOANH
			</h4> <br><br>
			<h5  style="line-height: 28px;">
				&nbsp&nbsp&nbsp&nbsp&nbsp 
				Ngoài chức năng chủ yếu là quản lý lưới điện phân phối, phân phối và kinh doanh điện năng còn có các chức năng sau:
			</h5>
			<br>
			<h5  style="line-height: 28px;">
				&nbsp&nbsp&nbsp&nbsp&nbsp
				- Sửa chữa, đại tu thiết bị điện.
			</h5>
			<br>

			<h5  style="line-height: 28px;">
				&nbsp&nbsp&nbsp&nbsp&nbsp
				- Sản xuất, kinh doanh điện năng.
			</h5>
			<br>
			
			<h5  style="line-height: 28px;">
				&nbsp&nbsp&nbsp&nbsp&nbsp
				- Tư vấn và lập dự án đầu tư các công trình lưới điện đến 35 kV.
			</h5>
			<br>
			<h5  style="line-height: 28px;">
				&nbsp&nbsp&nbsp&nbsp
			    - Khảo sát, thiết kế, giám sát, thi công các công trình lưới điện đến 35 kV.
			</h5>
			<br>
			<h5  style="line-height: 28px;">
				&nbsp&nbsp&nbsp&nbsp
			    - Xây dựng và cải tạo các công trình đường dây và trạm biến áp đến 35 kV.
			</h5>
			<br>


			<h5  style="line-height: 28px;">
				&nbsp&nbsp&nbsp&nbsp
			    - Kinh doanh vật tư thiết bị điện, phụ kiện điện, đồ điện dân dụng.
			</h5>
			<br>
			<h5  style="line-height: 28px;">
				&nbsp&nbsp&nbsp&nbsp
			    - Sửa chữa, thí nghiệm, hiệu chỉnh, kiểm định các thiết bị điện đến cấp điện áp 35 kV.
			</h5>
			<br>
			<h5  style="line-height: 28px;">
				&nbsp&nbsp&nbsp&nbsp
			    - Quản lý, vận hành, sửa chữa Diesel và gia công cơ khí.
			</h5>
			<br>
			<h5  style="line-height: 28px;">
				&nbsp&nbsp&nbsp&nbsp
			    - Hoạt động sản xuất, kinh doanh, dịch vụ khác theo giấy phép hoạt động Điện lực.
			</h5>
			<br>
 
 
		</div>


		<div   style="padding:30px 30px ; text-align:justify ;" >			
			<h4 style="text-align:center; color: #1f1fe6; font-family: arial; font-weight: bold;" >
				THÀNH TÍCH ĐẠT ĐƯỢC</h4> <br><br>
			 

			<h5  style="line-height: 28px;">
				&nbsp&nbsp&nbsp&nbsp&nbsp
				- Huân chương Lao động hạng Ba năm 1995.
			</h5>
			<br>
			
			<h5  style="line-height: 28px;">
				&nbsp&nbsp&nbsp&nbsp&nbsp
				- Huân chương Lao động hạng Nhì năm 2011.
			</h5>
			<br>
			<h5  style="line-height: 28px;">
				&nbsp&nbsp&nbsp&nbsp&nbsp
				- Huân chương Lao động hạng Nhất năm 2016.
			</h5>
			<br>
 
 
		</div>
 
	</div>
</section>
<!--/ End Single News -->

<!-- 
<script>
	var n = localStorage.getItem('on_load_counter');
	
	if (n === null) {
	  n = 0;
	}
	n++;
	
	localStorage.setItem("on_load_counter", n);
	
	nums = n.toString().split('').map(Number);
	document.getElementById('CounterVisitor').innerHTML = '';
	for (var i of nums) {
	  document.getElementById('CounterVisitor').innerHTML += '<span class="counter-item">' + i + '</span>';
	}
</script> -->
<!-- 

<script>
 incrementAndShowValue();

function incrementAndShowValue() {
  var value = getCookie("visitcounter") || 0;
  var newValue = ("00000" + (Number(value) + 1)).slice(-6);
  var container = document.getElementById("counterVisitor");
  String(newValue).split("").forEach(function(item, index) {
    container.children[index].innerHTML = item;
  });
  counter++;
  setCookie("visitcounter", counter);
}

function setCookie(name, value, days) {
  var expires = "";
  if (days) {
    var date = new Date();
    date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
    expires = "; expires=" + date.toUTCString();
  }
  document.cookie = name + "=" + value + expires + "; path=http://localhost:3000/";
}

function getCookie(name) {
  var nameEQ = name + "=";
  var ca = document.cookie.split(';');
  for (var i = 0; i < ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') c = c.substring(1, c.length);
    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
  }
  return null;
}
</script> -->
<!-- 
<script>
		const countEl = document.getElementById('count');

		updateVisitCount();

		function updateVisitCount() {
			fetch('https://api.countapi.xyz/hit/https://pcdaklak.cpc.vn')
			.then(res => res.json())
			.then(res => {
				countEl.innerHTML = res.value;
			})
		}
	
	// $.getJSON("https://api.countapi.xyz/hit/sdsd/visits", function(response) {
    // $("#visits").text(response.value);
	// });

</script> -->