

 
 
    <div class="container-fluid">        
            <div class="row">
            	<div class="col-12">							 	
					<img src="uploads/banner/19001909.png">	 			
				</div>
			</div>        
    </div>
 
 