	<!-- Footer Area -->
<%  let linkLogin  = '/'+systemConfig.prefixAdmin + '/auth/login' ; %>

	<footer id="footer" class="footer ">
		<!-- Footer Top -->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-12">
						<div class="single-footer">
							<h2 style="color: #fff; font-family: 'Arial' ;">DOANH NGHIỆP</h2>
							<h6 style="color: #fff; font-family: 'Arial' ;  font-size: 14px ;padding-bottom: 10px; ">
								Cơ quan chủ quản: Tổng công ty Điện lực miền Trung  
							</h6>
							<h6 style="color: #fff; font-family: 'Arial' ;  font-size: 14px ;padding-bottom: 10px; ">
								Tên doanh nghiệp: Công ty Điện lực ĐắkLắk  
							</h6>
							<h6 style="color: #fff; font-family: 'Arial' ;  font-size: 14px; ;padding-bottom: 10px; ">
								Địa chỉ: 02 Lê Duẩn-TP.Buôn Ma Thuột-Tỉnh ĐắkLắk <br>
							<h6 style="color: #fff; font-family: 'Arial' ;  font-size: 14px; ;padding-bottom: 10px; ">
								Tel: (0262) 2210 235 • Fax: (0262) 2226 801 <br>
							</h6>
							<h6 style="color: #fff; font-family: 'Arial' ;  font-size: 14px; ;padding-bottom: 10px; ">
								Giấy phép số: 301/GP-STTT do Sở Thông tin Truyền thông <br> tỉnh ĐắkLắk cấp ngày 19/06/2014
							</h6>
							
						</div>
					</div>
					<div class="col-lg-4 col-md-6  ">
						<div class="single-footer f-link">
							<h2>Doanh mục chính</h2>
							<ul>
								<li><a href="/"><i class="fa fa-caret-right" aria-hidden="true"></i>
									<span style="color: #fff; font-family: 'Arial' ;  font-size: 14px; ;padding-bottom: 10px; ">
										Trang chủ
									</span>
									</a>
								</li>
								<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>
									<span style="color: #fff; font-family: 'Arial' ;  font-size: 14px; ;padding-bottom: 10px; ">
										Giới thiệu
									</span>									
								</a></li>
								<li><a href="/chuyenmuc/tin-tuc-tong-hop"><i class="fa fa-caret-right" aria-hidden="true"></i>
									<span style="color: #fff; font-family: 'Arial' ;  font-size: 14px; ;padding-bottom: 10px; ">
										Tin tức tổng hợp
									</span>								
								</a></li>	
								<li><a href="/so-do-to-chuc"><i class="fa fa-caret-right" aria-hidden="true"></i>
									<span style="color: #fff; font-family: 'Arial' ;  font-size: 14px; ;padding-bottom: 10px; ">
										Sơ đồ tổ chức
									</span>		
									</a></li>
								<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>
									<span style="color: #fff; font-family: 'Arial' ;  font-size: 14px; ;padding-bottom: 10px; ">
										ABC
									</span>										
								</a></li>

							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 ">							
						<div class="single-footer">
							<h2>Social media</h2>
								 <!-- Social -->
							<ul class="social">
								<li><a href="https://www.facebook.com/groups/ketnoidongnghiep"><i class="icofont-facebook"></i></a></li>
								<li><a href="https://www.youtube.com/channel/UC2ijllfPCBz_Mb0Na5XaXVg"><i class="icofont-youtube"></i></a></li>
							</ul>
							<!-- End Social -->
								
							
							<h6 style="color: #fff; font-family: 'Arial' ;  font-size: 14px; padding-top: 15px;padding-bottom: 10px; ">
									Đang truy cập: 15
							</h6>															
							<h6 style="color: #fff; font-family: 'Arial' ;  font-size: 14px; ;padding-bottom: 10px; ">
								Lượt truy cập: &nbsp <span id="CounterVisitor">
									Lượt truy cập 1:<span class="counter-item">0</span>			 
								  </span>
								
								 
							</h6>
							
							<h6 style="color: #fff; font-family: 'Arial' ;  font-size: 14px; ;padding-bottom: 10px; ">
								<a href="<%= linkLogin %>"> Quản trị  </a>
							</h6>															
														 
							 
						</div>

					</div>
 

				</div>
			</div>
		</div>
	</footer>
	<!--/ End Footer Area -->