
 
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="Site keywords here">
  <meta name="description" content="">
  <meta name='copyright' content=''>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- Title -->
  <title>Công ty Điện lực Đắk Lắk</title>
  
  <!-- Favicon -->
  <link rel="icon" href="/uploads/image/logo/favicon.png">
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.0/css/font-awesome.min.css ">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="blog/css/bootstrap.min.css">
  <!-- Nice Select CSS -->
  <link rel="stylesheet" href="blog/css/nice-select.css">
  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="blog/css/font-awesome.min.css">
  <!-- icofont CSS -->
  <link rel="stylesheet" href="blog/css/icofont.css">
  <!-- Slicknav -->
  <link rel="stylesheet" href="blog/css/slicknav.min.css">
  <!-- Owl Carousel CSS -->
  <link rel="stylesheet" href="blog/css/owl-carousel.css">
  <!-- Datepicker CSS -->
  <link rel="stylesheet" href="blog/css/datepicker.css">
  <!-- Animate CSS -->
  <link rel="stylesheet" href="blog/css/animate.min.css">
  <!-- Magnific Popup CSS -->
  <link rel="stylesheet" href="blog/css/magnific-popup.css">
  
  <!-- Medipro CSS -->
  <link rel="stylesheet" href="blog/css/normalize.css">
  <link rel="stylesheet" href="blog/style.css">
  <link rel="stylesheet" href="blog/css/responsive.css">


